.news {
  background: var(--grey-bg);
  width: 85%;
  margin: auto;
}

.news .header {
  display: flex;
  background: var(--orange);
  padding: 6px 4px;
}

.news .logo {
  border: 1px solid var(--white);
}

.news .links {
  margin-left: 1rem;
}

.news .link.selected {
  color: var(--white);
}

.news .buttons {
  padding: 1rem 0;
}

@media (max-width: 700px) {
  .news {
    width: 100%;
    margin: 0;
  }
}
